* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background: black;
	overflow-x: hidden;
    
}


/* #top p {
	font-family: Oswald, sans-serif;
	font-size: 40vh;
	line-height: 0;
	position: absolute;
	bottom: 15vh;
	left: 5vw;
	transform: rotateZ(8deg);
} */
#first{
    background-color: black;
	position: relative;
	height: 90vh;
}

#first::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 10vh 50vw;
	border-bottom-color: white;
	border-right-color: white;
}

#second {
	background: white;
	position: relative;
	height: 90vh;
}

#second::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 10vh 50vw;
	border-bottom-color: #ced4da;
	border-left-color: #ced4da;
}

#third {
	background: #ced4da;
	position: relative;
	height: 100vh;
	/* height: 40vh; */
}
#third::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 10vh 50vw;
	border-bottom-color:  #ced4da;
	border-right-color:  #ced4da;
}
#fourth{
    background:  #ced4da;
	position: relative;
	height: 90vh;
}


#fourth::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 10vh 50vw;
	border-bottom-color: black;
	border-left-color: black;
}

 #fifth {
	background: black;
	position: relative;
	min-height: 20vh;
}

/* #fifth::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 10vh 50vw;
	border-bottom-color: white;
	border-left-color: white;
}

#sixth {
    
	background: white;
	position: relative;
	height: 90vh; */
	/* height: 40vh; */
/* } */ 
/* nav{
	background-color: #46494c;
} */